{
  "debugoracle.executable": "${workspaceFolder}/build/app.elf",
  "debugoracle.openocdConfigFiles": [
    "interface/stlink.cfg",
    "target/stm32l4x.cfg"
  ],
  "debugoracle.miLogPath": "${workspaceFolder}/.dbgoracle/cortex-debug-shared-mi.log",
  "debugoracle.rttLogPath": "${workspaceFolder}/.dbgoracle/session.rtt",
  "debugoracle.rttStatePath": "${workspaceFolder}/.dbgoracle/session.rtt.state.json",
  "debugoracle.rttLaunchLogPath": "${workspaceFolder}/.dbgoracle/session.rtt.launch.log",
  "debugoracle.rttPort": "60001"
}
